<template name="trendingShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="trending" class="button-positive" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-product" data-product-id="{{product._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{> _productDetail product=product}}

    {{/ionContent}}
  {{/ionView}}

</template>
