<template name="trendingShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="trending" class="button-positive" text=""}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="shareProduct">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{> _productItem product=product}}

    {{/ionContent}}
  {{/ionView}}

</template>
