<template name="appLayout">

  {{#ionBody}}
    {{#if UI.contentBlock}}
      {{> UI.contentBlock}}
    {{else}}
      {{> yield}}
    {{/if}}

    {{#ionTabs style="ios"}}
      {{> ionTab title="Trending" path="trending" iconOff="ios-bolt-outline" iconOn="ios-bolt"}}
      {{> ionTab title="Recent" path="recent" iconOff="ios-clock-outline" iconOn="ios-clock"}}
      {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell"}}
      {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person"}}
    {{/ionTabs}}
  {{/ionBody}}

</template>
