<template name="settings">
  {{#ionModal title="Settings"}}
    <div class="list">
      <div class="item item-divider">
        Account
      </div>
      <a class="item item-icon-left item-icon-right" href="#" data-action="sign-out">
        {{> ionIcon icon="ios-locked"}}
        Sign Out
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <div class="item item-divider">
        About
      </div>
      <a class="item item-icon-left item-icon-right" href="https://github.com/meteoric/meteorhunt" target="_blank">
        {{> ionIcon icon="social-github"}}
        View on Github
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
    </div>
  {{/ionModal}}
</template>
