<template name="_productDetail">
  <div class="product-detail">

    {{#with product}}

      {{#ionItem iconLeft=true iconRight=true class="item-text-wrap"}}
        {{> _voteButton}}
        <h2 class="product-title">
          <a href="{{url}}" target="_blank" class="positive">{{name}}</a>
        </h2>
        <p>
          {{tagline}}
        </p>
        <span class="date-posted">
          {{datePosted}}
        </span>
      {{/ionItem}}

      <div class="padding product-detail-upvotes">
        <h5>Upvotes <small>{{numberOfVotes}}</small></h5>
      </div>

      <div class="padding product-detail-comments">
        <h5>Comments</h5>
        <button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">
          {{>ionIcon icon="plus"}}
        </button>
      </div>

    {{/with}}

  </div>
</template>
