<template name="profile">
  {{#contentFor "navButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="settings">
      {{> ionIcon icon='ios-gear-outline'}}
    </button>
  {{/contentFor}}

  {{#ionContent}}
    {{#with currentUser}}

      <div class="profile-header">

        {{> avatar user=this size="large" shape="circle"}}

        <h3>{{ profile.name }}</h3>
        <p>
          <a href="https://atmospherejs.com/{{profile.name}}">
            <img src="/images/atmosphere-icon.png" width=32 height=32 class="positive" />
            atmospherejs.com/{{profile.name}}
          </a>
        </p>

      </div>

    {{/with}}
  {{/ionContent}}
</template>
