<template name="profile">
  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right button-positive" data-ion-modal="settings">
        {{> ionIcon icon='ios-gear-outline'}}
      </button>
    {{/contentFor}}
  {{/if}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if user}}
        <div class="profile-header">
          {{> avatar user=user size="large" shape="circle"}}
          <h3>{{ user.profile.name }}</h3>
          <p>
            <a href="https://atmospherejs.com/{{user.profile.name}}" target="_blank">
              <img src="/images/atmosphere-icon.png" width=32 height=32 class="positive" />
              atmospherejs.com/{{user.profile.name}}
            </a>
          </p>
        </div>
        {{#if thereAreVotedProducts }}
          {{#ionList}}
            {{#each votedProducts}}
              {{> _productItem product=this path="products.show"}}
            {{/each}}
          {{/ionList}}
        {{else}}
          <div class="empty-view">
            Oops no votes yet, go checkout some products!
          </div>
        {{/if}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-person"}}
          No profile yet!
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
