<template name="signIn">
  {{#ionModal title=""}}

    <div class="padding text-center sign-in-modal">
      <p>
        <img src="/favicon-160x160.png" width=80 height=80 />
        <br>
        <strong>Hey! Please sign in to do that :)</strong>
      </p>

      <p>
        <button data-action="sign-in" class="button button-positive sign-in-button">
          <img src="/images/meteor-icon.png" width=25 height=25 /> Sign in with Meteor
        </button>
      </p>
    </div>

  {{/ionModal}}
</template>
