<template name="productsShow">

  {{#contentFor "navButtonLeft"}}
    <a href="{{pathFor 'products.index'}}" class="button button-clear pull-left button-positive" data-nav-direction="reverse">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
  {{/contentFor}}

  {{#contentFor "navButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="shareProduct">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#ionView title="Details"}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-arrow-up-c"></i>
          <h2>{{product.title}}</h2>
          <p>
            {{product.description}}
          </p>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
