<template name="recent">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Recent</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
